{{#view Car.speedometerView}}
  {{speed}}
  {{#view Car.currentStatesView}}
    {{currentStates}}
  {{/view}}
{{/view}}

<div id="controls">
  {{view Car.brakePedalView }}
  {{view Car.gasPedalView }}
  {{view Car.ignitionButtonView}}
  <div class="clear-both"></div>
</div>

<div id="radio">
  <div id="radio-controls">
    {{view Car.radioButtonView}}
    {{#view Car.radioModeView}}
      <input type="radio" name="radio-mode" id="radio-am" value="am" /><label for="radio-am">AM</label><br/>
      <input type="radio" name="radio-mode" id="radio-fm" value="fm" /><label for="radio-fm">FM</label><br/>
      <input type="radio" name="radio-mode" id="radio-cd" value="cd" /><label for="radio-cd">CD</label>
      {{displayValue}}
    {{/view}}
  </div>
  {{#view Car.radioDisplayView}} {{value}} {{/view}}
  <div class="clear-both"></div>
</div>
