{{#view Car.speedometerView}}
  {{speed}}
  {{#view Car.currentStatesView}}
    {{currentStates}}
  {{/view}}
{{/view}}

<div id="controls">
  {{view Car.brakePedalView }}
  {{view Car.gasPedalView }}
  {{view Car.ignitionButtonView}}
  <div class="clear-both"></div>
</div>

<div id="radio">
{{view Car.radioButtonView}}
{{#view Car.radioModeView}}
  <input type="radio" name="radio-mode" value="am" />AM
  <input type="radio" name="radio-mode" value="fm" />FM
  <input type="radio" name="radio-mode" value="cd" />CD
{{/view}}
</div>

